body {
    background-color: black;
}
html{
    scroll-behavior: smooth;
}

*{
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

header{
    display: flex;
    padding: 10px 30px;
    /* position: fixed; */
}
.left {
    display: flex;
    flex-basis: 50%;
    align-items: center;
    justify-content: flex-start;
}
.left>figure{
    display: flex;
    gap: 30px;
    /* justify-content: center; */
    align-items: center;
}

.icon-spotify{
    font-size: 40px;
    color: white;
}
.icon-house{
    font-size: 20px;
    color: rgb(176, 169, 169);
    padding: 15px;
    background-color: #2A2A2A;
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;
}
.icon-house:hover{
    color: white;
}
.search{
    background-color: #2A2A2A;
    padding: 12px 18px 10px 15px;
    border-radius: 25px;
}
.icon-searchbar{
    color: white;
    font-size: 24px;
    cursor: pointer;
}
.icon-brouse{
    color: white;
    font-size: 24px;
    border-left: 2px solid white;
    padding-left: 15px;
    cursor: pointer;
}
.search>input{
    background: transparent;
    border: none;
    outline: none;
    color: white;
    width: 400px;
    font-size: 16px;
    margin-left: 10px;
    cursor: pointer;
}
.search>input::placeholder{
    color: #ccc;
}


.right{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-basis: 50%;
    /* border: 1px solid red; */
}
.right>nav>ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-right: 2px solid white;
    padding-right: 25px;
}
.right>nav>ul>li>a{
    color: #ccc;
}
.right>nav>ul>li>a:hover{
    color: white;
    font-weight: bold;
}
.right-content{
    margin-left: 30px;
    display: flex;
    align-items: center;
}
.right-content>ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20PX;
}
.right-content>ul>li>a{
    color: #CCC;
}
.right-content>ul>li>a:hover{
    color: white;
    font-weight: bold;
}
.right-content>ul>li>a>i{
    font-size: 20px;
    padding-right: 10px;
}
.right-content ul li:last-child a{
    padding: 10px 25px;
    background-color: white;
    border-radius: 20px;
    font-weight: bold;
    color: black;
    font-size: 15px;
}
.right-content ul li:last-child a:hover{
    font-size: 17px;
}






.main-signup{
    background-color: #121212;
    /* height: 100vh; */
}
.main-contain{
    width: 25%;
    margin: auto;
    padding: 40px 0px;
    /* border: 1px solid white; */
}
.main-header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.main-header i{
    font-size: 50px;
}
.main-header h1{
    color: white;
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    margin: 10px 0px;
}
.signup-form{
    width: 350px;
    margin: 20px auto 0px auto;
}
.signup-input label{
    width: 100%;
    color: white;
    font-size: 14px;
    display: block;
    padding-bottom: 10px;
}
.signup-input input{
    width: 350px;
    /* margin: 0px 20px; */
    outline: none;
    height: 50px;
    border: 1px solid #8b8484;
    background-color: transparent;
    border-radius: 5px;
    padding-left: 10px;
    font-size: 16px;
    color: white;
    margin-bottom: 5px;
}
.signup-input input:focus{
    border: 2px solid #fff;
}
.signup-link-phone a{
    color: #3AE075;
    text-decoration: underline;
    font-size: 14px;
}

.signupBtns{
    width: 350px;
    height: 50px;
    border-radius: 20px;
    background-color: #36b562;
    color: black;
    margin: 20px 0px;
    cursor: pointer;
    font-weight: bold;
    border: none;
    font-size: 16px;
}
.or-hr{
    border: 1px solid #6d6d6d;
    position: relative;
    margin: 30px auto;
    width: 350px;
}
.or-hr span{
    position: absolute;
    color: white;
    top: -18px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #121212;
    padding: 5px 10px;
    border-radius: 50%;
}


.external-signup{
    width: 350px;
    margin: auto;
}
.external-signup-btn{
    border: 1px solid #ccc;
    border-radius: 30px;
    padding: 10px 25px;
    margin-bottom: 10px;
}
.external-signup-btn:hover{
    border: 2px solid white;
}

.external-signup-btn a{
    /* font-weight: bold; */
    color: white;
}
.external-signup-btn a span{
    width: 200px;
    padding-left: 60px;
}
.google-btn{
    /* background-image: linear-gradient(to bottom,red,green,yellow); */
    color: red;
}
.facebook-btn{
    color: blue;
}
.apple-btn{
    color: white;
}


.second-signup{
    width: 350px;
    margin: 35px auto;
    border: 1px solid #383838;
}

.signup-to-login{
    text-align: center;
    color: #b9b9b9;
    font-size: 14px;
}
.signup-to-login a{
    color: white;
    text-decoration: underline;
}
.signup-terms{
    text-align: center;
    color: #b9b9b9;
    font-size: 12px;
    width: 350px;
    margin: auto;
    padding-top: 20px;
}    





.login-main{
    background-color: #121212;
}
.login-content{
    width: 25%;
    margin: auto;
    padding: 40px 0px;
}
.login-hdr{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.login-hdr i{
    font-size: 50px;
}
.login-hdr h1{
    color: white;
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    margin: 10px 0px;
}

.external-login{
    width: 350px;
    margin: 20px auto;
}
.external-login-btn{
    border: 1px solid #ccc;
    border-radius: 30px;
    padding: 10px 25px;
    margin-bottom: 10px;
}
.external-login-btn:last-child{
    padding-right: 20px;
}
.external-login-btn:hover{
    border: 2px solid white;
}

.external-login-btn a{
    /* font-weight: bold; */
    color: white;
}
.external-login-btn a span{
    width: 200px;
    padding-left: 60px;
}


.second-login{
    width: 350px;
    margin: 45px auto 0px auto;
    border: 1px solid #383838;
}

.login-form{
    width: 350px;
    margin: 20px auto 0px auto;
}
.login-input label{
    width: 100%;
    color: white;
    font-size: 14px;
    display: block;
    padding-bottom: 10px;
}
.login-input input{
    width: 350px;
    /* margin: 0px 20px; */
    outline: none;
    height: 50px;
    border: 1px solid #8b8484;
    background-color: transparent;
    border-radius: 5px;
    padding-left: 10px;
    font-size: 16px;
    color: white;
    margin-bottom: 5px;
}
.login-input input:hover{
    border: 1px solid white;
}

.loginp-input input:focus{
    border: 2px solid #fff;
}
.login-Btns{
    width: 350px;
    height: 50px;
    border-radius: 20px;
    background-color: #36b562;
    color: black;
    margin: 20px 0px;
    cursor: pointer;
    font-weight: bold;
    border: none;
    font-size: 16px;
}



.login-to-signup{
    text-align: center;
    color: #b9b9b9;
    font-size: 14px;
}
.login-to-signup a{
    color: white;
    font-weight: bold;
    text-decoration: underline;
}
.login-terms{
    text-align: center;
    color: #b9b9b9;
    font-size: 12px;
    width: 350px;
    margin: auto;
    padding-top: 20px;
}    








.hdr-mobile {
    display: none;
}



#get-premium-mob-notify {
    display: none;
}








#spotifybody{
    max-width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 5px;
    margin-bottom: 5px;
}
.spotifybody-left{
    flex-basis: 20%;
    max-height: 80vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    border: 1px solid #000;
    background-color: #121212;
    border-radius: 10px;
}


.spotifybody-right{
    flex-basis: 78%;
    max-height: 80vh;
    border: 1px solid #000;
    background-color: #202020;
    border-radius: 10px;
    overflow-x: scroll;
    scrollbar-width: none;
}

.spotifybody-left-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 10px 25px;
}
.spotifybody-left-top h2{
    width: 100%;
    color: white;
    font-weight: 600;
    font-size: 16px;
    position: relative;
}
.your-lib{
    color: #fff;
    background-color: transparent;
    padding: 10px;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 10px;
}
.lib-option{
    color: #ccc;
    position: absolute;
    top: 50px;
    right: 20px;
    background-color: #3E3E3E;
    padding: 10px 15px;
    font-size: 14px;
    font-weight: 500;
    display: none;
}
.lib-option i{
    margin-right: 10px;
}
.lib-option-show{
    display: block;
}
.spotifybody-left-card{
    padding: 20px;
    margin: 10px;
    background-color: #1F1F1F;
    margin-bottom: 20px;
}
.spotifybody-left-card h3{
    color: white;
    font-size: 16px;
}
.spotifybody-left-card p{
    color: white;
    font-size: 13px;
    margin: 10px 0px;
}
.spotifybody-left-card a{
    color: black;
    background-color: white;
    padding: 4px 14px;
    border-radius: 20px;
    font-size: 13px;
    font-weight: bold;
}

.quick-links{
    padding: 20px ;
}
.quick-links a{
    color: #ccc;
    font-size: 12px;
    padding-right: 25px;
}
.langselect{
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.langselect span{
    color: white;
    border: 1px solid #ccc;
    padding: 5px 10px;
    border-radius: 20px;
    font-weight: bold;
}
.langselect span a{
    color: white;
}


.language{
    max-width: 900px;
    margin: 50px auto;
    background-color: rgb(63, 61, 61);
}
.lang-mid{
    padding: 30px;
}
.lang-header{
    position: fixed;
}
.lang-header h2{
    font-size: 25px;
    font-weight: bold;
    color: white;
}
.lang-header p{
    font-size: 14px;
    color: white;
    margin-top: 5px;    
}
.lang-border{
    border: 0.1px solid #f6f4f4;
    border-width: 0.1px;
    margin-top: 10%;
}
.lang-body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
}
.lang-body-items{
    flex-basis: 20%;
    margin: 2.5%;
    cursor: pointer;
}
.lang-body-items h3{
    color: white;
    font-size: 16px;
    text-align: center;
    padding-right: 50px;
}
.lang-body-items p{
    color: rgb(229, 221, 221);
    font-size: 14px;
    text-align: center;
    padding-right: 50px;
    padding-top: 5px;
}







.spotifybody-right-container{
    margin: 20px;
}
.spotifybody-right-hdr{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.spotifybody-right-hdr h2 a{
    color: white;
}
.spotifybody-right-hdr span a{
    color: #ccc;
    font-size: 14px;
    font-weight: 600;
}

.spotifybody-right-body{
     width: 75vw;   
    margin-top: 20px;
    overflow-y: hidden;
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    scrollbar-width: none;
}
.spotify-right-item-1{
    display: inline-table;
    max-width: 200px;
    cursor: pointer;
    padding: 10px;
    position: relative;
}
.spotify-image-item-1 img{
    width: 200px;
    height: 200px;
    border-radius: 5px;
}
.spotify-content-item-1 h4{
     white-space: wrap;
}
.spotify-content-item-1 h4 a{
    color: white;
    font-weight: 600;
}
.spotify-content-item-1 span{
    white-space: wrap;
}
.spotify-content-item-1 span a{
    color: #ccc;
    font-size: 14px;
}
.spotify-content-item-1 h4 a:hover,
.spotify-content-item-1 span a:hover{
    text-decoration: underline;
}
.spotify-btn-item-1{
    position: absolute;
    top: 170px;
    right: 10px;
    background-color: #000;
    border-radius: 50%;
    opacity: 0;
    transition: 0.5s;
}
.spotify-btn-item-1 a{
     color: #3AE075;
}
.spotify-btn-item-1 a i{
    font-size: 50px;
}
.spotify-right-item-1:hover{
    background-color: #2A2A2A;
}
.spotify-right-item-1:hover .spotify-btn-item-1{
    opacity: 1;
    top: 140px;
}







.spotify-right-footer{
    margin-left: 20px;
    margin-top: 50px;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.spotify-right-footer-item-1,
.spotify-right-footer-item-2,
.spotify-right-footer-item-3,
.spotify-right-footer-item-4{
    flex-basis: 16%;
}

.spotify-right-footer-item-1 h3,
.spotify-right-footer-item-2 h3,
.spotify-right-footer-item-3 h3,
.spotify-right-footer-item-4 h3{
    color: white;
    font-weight: 600;
    font-size: 16px;
}

.spotify-right-footer-item-1 ul li,
.spotify-right-footer-item-2  ul li,
.spotify-right-footer-item-3  ul li,
.spotify-right-footer-item-4  ul li{
    color: #ccc;
    line-height: 35px;
    font-size: 14px;
}

.spotify-right-footer-item-5{
    flex-basis: 35%;
    display: flex;
    justify-content: center;
    gap: 20px;
}
.social-icons{
    color: white;
    background-color: #353535;
    padding: 10px 15px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 14px;
}
.social-icons:hover{
    background-color: #727272;
}
.cpy-dividr {
    width: 98%;
    height: 1px;
    border: 1px solid #636262;
    margin: auto;
}
.cpy-text {
    text-align: left;
    color: #ccc;
    font-size: 14px;
    margin: 30px 0px;
    margin-left: 20px;
}





.cpy-text-content {
    margin-top: 30px;
    margin-bottom: 50px;
    margin-left: 20px;
}

.quick-links-mob {
    /* padding: 20px; */
    margin-bottom: 10px;
    display: none;
}

.quick-links-mob a {
    color: #ccc;
    font-size: 13px;
    padding-right: 10px;
}

.lang-select-mob {
    margin-top: 20px;
    margin-bottom: 40px;
    display: none;
}

.lang-select-mob span {
    color: white;
    border: 1px solid #ccc;
    padding: 5px 10px;
    border-radius: 20px;
    font-weight: bold;
    font-size: 13px;
}




footer {
    background-image: linear-gradient(to right, #ae2896, #509bf5);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 25px;
}

.footer-content h3 {
    color: #fff;
    font-weight: 600;
    font-size: 14px;
}

.footer-content p {
    color: #fff;
    font-size: 14px;
}

.footer-button-link {
    color: black;
    background-color: white;
    font-size: 14px;
    font-weight: bold;
    padding: 15px 30px;
    border-radius: 25px;
}